.header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.main {
    background: silver;
    display: flex;
}

.users {
    background: gray;
    width: 70%;
}

.create_user {
    background: cadetblue;
    width: 30%;
    text-align: center;
}

.create_user.input {
    box-sizing: border-box;
}

.footer {
    background-color: #282c34;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

input, select {
    width: 80%;
    border-radius: 3px;
}

button {
    background: gray;
    border-radius: 4px;
    margin: 10px;
}
.required {
    color: red;
}
